<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Passowrd</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .container{
            max-width: 90vw;
            width: 500px;
        }
    </style>
</head>

<body  class="bg-dark text-light">
    <div class="container p-4 my-5 bg-dark text-light shadow-lg">
        <h2>Set a password for Sync.io</h2>
        <p>This password will be used to authenticate devices connecting to this channel,
         please keep it safe. (Leave the field blank to allow anyone to connect without a password)</p>
        <form method="post">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password1">Confirm Password</label>
                <input type="password" class="form-control" name="password1" name="password1" placeholder="Confirm Password">
            </div>
            <div class="form-check my-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" onClick="showPass(this)">
                <label class="form-check-label" for="exampleCheck1">Show Passowrd</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function showPass(checkbox) {
            if (checkbox.checked == true) {
                document.getElementById("password").type = "text"
            } else {
                document.getElementById("password").type = "password"
            }
        }
    </script>
</body>

</html>