{{template "base.html" .}}

      <!-- Jumbotron -->
      <div class="pt-4 pl-4 pr-4 sm:ml-64 bg-backgroundColorLight dark:bg-backgroundColorDark h-screen mt-14">
            <section class="bg-center bg-no-repeat bg-backgroundColorLight dark:bg-backgroundColorDark bg-blend-multiply rounded-xl">
                  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
                        <!-- Heading -->
                        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-fontColorLight dark:text-fontColorDark md:text-5xl lg:text-6xl" style="font-family: 'Space Mono', monospace;font-weight: 400;font-style: normal;">
                              &nbsp;Sync.io&nbsp;
                        </h1>
                        <!-- Description -->
                        <p class="mb-8 text-lg font-normal text-fontColorLight dark:text-fontColorDark lg:text-xl sm:px-16 lg:px-48">
                              Sync.io enables effortless file sharing between Linux, Mac, Windows, iOS, and Android, offering a seamless solution for cross-platform collaboration.
                        </p>
                        <!-- Get Started -->
                        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                              <a href="/qr" class="mx-2 inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-fontColorDark dark:text-fontColorLight rounded-lg hover:text-black dark:bg-backgroundColorLight bg-backgroundColorDark hover:bg-hoverLight dark:hover:bg-hovereDark focus:ring-4 focus:ring-focusState hover:text-secondaryFontColor hover:drop-shadow-2xl drop-shadow-md dark:hover:text-white">
                                    Get started
                                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                    </svg>
                              </a>
                              <a href="/files" class="mx-2 inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-fontColorDark dark:text-fontColorLight rounded-lg hover:text-black dark:bg-backgroundColorLight bg-backgroundColorDark hover:bg-hoverLight dark:hover:bg-hovereDark focus:ring-4 focus:ring-focusState hover:text-secondaryFontColor hover:drop-shadow-2xl drop-shadow-md dark:hover:text-white">
                                    Go to Files
                                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                    </svg>
                              </a>
                        </div>
                  </div>
            </section>
      </div>

</body>

</html>
