<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Verify Password | Sync.io</title>
      <link rel="icon" type="image/x-icon" href="/static/assets/sync.io.svg">
      <link rel="stylesheet" href="/static/css/build.css">
      <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
      <!-- Theme JS -->
      <script>
            const ELE = document.documentElement;
            if (localStorage.getItem('theme') === 'dark') {
                  ELE.classList.add('dark');
            } else {
                  ELE.classList.remove('dark');
            }
      </script>

      <!-- Main Content -->
      <div class="h-screen bg-backgroundColorLight dark:bg-backgroundColorDark flex justify-center">
            <div class="py-6 px-6 h-max w-96 mt-20 bg-navbarLight dark:bg-navbarDark rounded-xl shadow-xl">
                  <form method="post">
                        <input name="_csrf" value="{{.csrf}}" hidden>
                        <p class="text-white text-4xl mb-3"
                              style="font-family: 'Space Mono', monospace;font-weight: 400;font-style: normal;">
                              Sync.io
                        </p>
                        <p class="text-xl text-white">
                              Verify password to connect
                        </p>
                        <p class="text-gray-300 text-sm mt-1">
                              Enter the password that has been set while starting the server.
                        </p>

                        <!-- Password -->
                        <div class="mb-4">
                              <label for="password" class=" mt-2 block text-gray-300 font-semibold text-sm">
                                    Password
                              </label>
                              <input type="password" name="password" id="password" placeholder="Password"
                                    class="w-full py-1 text-sm pl-2 rounded mt-1 outline-none focus:ring-indigo-600 :ring-indigo-600">
                        </div>

                        <div class="text-gray-300 text-sm">
                              <input type="checkbox" id="exampleCheck1" onClick="showPass(this)" class="text-xl">
                              Show Password
                        </div>

                        <!-- Show Password Script -->
                        <script>
                              function showPass(checkbox) {
                                    if (checkbox.checked == true) {
                                          document.getElementById("password").type = "text"
                                    } else {
                                          document.getElementById("password").type = "password"
                                    }
                              }
                        </script>

                        <!-- Submit Button -->
                        <button
                              class="cursor-pointer py-2 px-4 block mt-6 bg-backgroundColorLight text-black dark:bg-backgroundColorDark dark:text-white hover:bg-hoverLight dark:hover:bg-hovereDark font-semibold w-full text-center rounded shadow-xl">
                              Submit
                        </button>
                  </form>
            </div>
      </div>
</body>

</html>